.section-registerLogin {
    display: flex;
    margin-left: 30vh;
}

.text-register1Login {
    color: #E0E0E0;
    font-weight: 300;
}
.text-register2Login {
    color: #FFFF;
    font-weight: 300;
    text-decoration:underline;
    margin-left: 1vh;
    cursor: pointer;
}