.section-registerLogin {
    display: flex;
    margin-left: 30vh;
    margin-top: 2%;
}

.text-register1Login {
    color: #E0E0E0;
    font-weight: 300;
}
.text-register2Login {
    color: #FFFF;
    font-weight: 300;
    text-decoration:underline;
    margin-left: 1vh;
    cursor: pointer;
}

@media(max-width: 1440px) {
    .section-registerLogin {
        margin-left: 26vh;
    }
}

@media(max-width: 1024px) {
    .section-registerLogin {
        margin-left: 14vh;
    }
}

@media(max-width: 768px) {
    .section-registerLogin {
        margin-left: 28vh;
    }
}

@media(max-width: 638px) {
    .section-registerLogin {
        margin-left: 8vh;
    }

    .text-register1Login {
        margin-top: 1.1rem;
        font-size: 0.9rem;
    }
    .text-register2Login {
        font-size: 0.9rem;
    }
}

@media(max-width: 375px) {
    .section-registerLogin {
        margin-left: 5vh;
    }

    .text-register1Login {
        margin-top: 1.1rem;
        font-size: 0.9rem;
    }
    .text-register2Login {
        font-size: 0.9rem;
    }
}

@media(max-width: 346px) {
    .section-registerLogin {
        margin-left: 2vh;
    }

    .text-register1Login {
        margin-top: 1.1rem;
        font-size: 0.9rem;
    }
    .text-register2Login {
        font-size: 0.9rem;
    }
}