.header-home {
    display: flex;
}

.img-logo {
    margin-top: 1%;
    margin-left: 2.5%;
}

.div-time {
    margin-left: 30%;
}

.div-temperature {
    margin-left: 32%;
}

// main
.main-home {
    display: flex;

    .div-text {
        margin-left: 26%;
    }
}

@media(max-width: 1440px) {
    .main-home {
    
        .div-text {
            margin-left: 5%;
        }
    }

    .div-time {
        margin-left: 30%;
    }

    .div-temperature {
        margin-left: 26.5%;
    }

    //mudar em ball e footer
}

@media(max-width: 1024px) {
    .main-home {
    
        .div-text {
            margin-left: -10%;
            margin-right: 10%;
        }
    }

    .div-time {
        margin-left: 22%;
    }

    .div-temperature {
        margin-left: 19%;
    }

    //mudar em ball e footer
}

@media(max-width: 768px) {
    .main-home {
    
        .div-text {
            margin-left: -10%;
            margin-right: 10%;
        }
    }

    .div-time {
        margin-left: 15%;
    }

    .div-temperature {
        margin-left: 9%;
    }

    //mudar em ball e footer
}

@media(max-width: 767px) {
    .header-home {
        display:grid;
        height: 13rem;
    }
    
    .img-logo {
        margin-top: 1%;
        margin-left: 34%;
    }
    
    .div-time {
        margin-left: 20%;
    }
    
    .div-temperature {
        margin-left: -4%;
    }
    
    // main
    .main-home {
        display: flex;
    
        .div-text {
            margin-left: 5%;
        }
    }

    //mudar em ball e footer
}

@media(max-width: 374px) {
    .header-home {
        display:grid;
        height: 13rem;
    }
    
    .img-logo {
        margin-top: 1%;
        margin-left: 28%;
    }
    
    .div-time {
        margin-left: 13%;
    }
    
    .div-temperature {
        margin-left: -10%;
    }
    
    // main
    .main-home {
        display: flex;
    
        .div-text {
            margin-left: 5%;
        }
    }

    //mudar em ball e footer
}