.div-time h1 {
    font-size: 10rem;
    font-weight: bold;
    color: black;
    margin: 0;
}

.div-time p {
    margin-top: -4%;
    text-align: center;
}


@media(max-width: 1440px) {
    .div-time h1 {
        font-size: 8rem;
    }
}

@media(max-width: 1024px) {
    .div-time h1 {
        font-size: 7.5rem;
    }
}

@media(max-width: 767px) {
    .div-time h1 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-left: 10%;
    }
    .div-time p {
        margin-top: -2%;
        text-align: left;
        margin-left: -7%;
    }
}

@media(max-width: 424px) {
    .div-time p {
        width: 30vh;
    }
    
    .div-time {
        width: 30vh;
    }
}

@media(max-width: 374px) {
    .div-time h1 {
        font-size: 2rem;
    }
    .div-time p {
        margin-top: -2%;
        margin-left: -14%;
        font-size: 1rem;
    }
}