.section-register {
    display: flex;
    margin-left: 32vh;
}

.text-register1 {
    color: #E0E0E0;
    font-weight: 300;
}
.text-register2 {
    color: #FFFF;
    font-weight: 300;
    text-decoration:underline;
    margin-left: 1vh;
    cursor: pointer;
}