.section-radio {
    margin-left: 24vh;
    color: #E0E0E0;
    font-weight: 300;
}

.div-radio1 {
    margin-left: 12vh;
    margin-block-end: 1vh;
    margin-top: 1vh;
}

@media(max-width: 1440px) {
    .section-radio {
        margin-left: 20vh;
    }
}

@media(max-width: 1024px) {
    .section-radio {
        margin-left: 7vh;
    }
}

@media(max-width: 768px) {
    .section-radio {
        margin-left: 22vh;
    }
}

@media(max-width: 638px) {
    .section-radio {
        margin-left: 13vh;
    }
    
    .div-radio1 {
        margin-left: 0vh;
    }
}

@media(max-width: 375px) {
    .section-radio {
        margin-left: 10vh;
    }
    
    .div-radio1 {
        margin-left: 0vh;
    }
}

@media(max-width: 320px) {
    .section-radio {
        margin-left: 7vh;
    }
    
    .div-radio1 {
        margin-left: 0vh;
    }
}