.img-ball {
    width: 61.1vh;
    height: 66vh;
    margin-left: -3%;
}

@media(max-width: 1440px) {
    .img-ball {
        width: 64.4vh;
        height: 66vh;
        margin-left: -8%;
    } 
}

@media(max-width: 1024px) {
    .img-ball {
        width: 66.2vh;
        height: 66vh;
        margin-left: -32%;
    } 
}