.img-ball {
    width: 61.1vh;
    height: 66vh;
    margin-left: -3%;
    background-repeat: no-repeat;
}

@media(max-width: 1440px) {
    .img-ball {
        width: 79vh;
        height: 67.9vh;
        margin-left: -8%;
    } 
}

@media(max-width: 1324px) {
    .img-ball {
        width: 90vh;
        height: 69.2vh;
        margin-left: -28%;
    } 
}

@media(max-width: 768px) {
    .img-ball {
        width: 92vh;
        height: 69.2vh;
        margin-left: -45%;
    } 
}

@media(max-width: 767px) {
    .img-ball {
        width: 0vh;
        height: 0vh;
        margin-left: 0%;
    } 
}