.img-ball {
    width: 66.8vh;
    height: 66vh;
    margin-left: -3%;
}

@media(max-width: 1440px) {
    .img-ball {
        width: 70.8vh;
        height: 66vh;
        margin-left: -8%;
    } 
}

@media(max-width: 1024px) {
    .img-ball {
        width: 81.8vh;
        height: 66vh;
        margin-left: -28%;
    } 
}