.div-temperature {

}

.div-city {

}

.div-img-temp {
    display: flex;
    
    
}
.img-cloudy {
    width: 2rem;
    height: 2.2rem;
}

.div-temp {
    font-size: 2.4rem;
    margin-top: -40%;
    margin-left: 5%;
}