.div-temperature {

}

.div-city {

}

.div-img-temp {
    display: flex;
    
    
}
.img-cloudy {
    width: 2rem;
    height: 2.2rem;
}

.div-temp {
    font-size: 2.4rem;
    margin-top: -48%;
    margin-left: 0%;
}

@media(max-width: 767px) {
    .div-temperature {
        display: flex;
        height: 60%;
        margin-top: -29%;
    }
    
    .div-city {
        margin-top: 0%;
        margin-left: 29%;
        font-size: 1.5rem;
        width: 40vh;
        text-align: right;
    }
    
    .div-img-temp {
        width: 100%;
        
    }
    .img-cloudy {
        margin-top: 15%;
        margin-left: 10%;
        width: 2rem;
        height: 2.2rem;
    }
    
    .div-temp {
        font-size: 2.4rem;
        margin-left: 5%;
        margin-top: -14%;
        font-size: 2rem;
    } 
}

@media(max-width: 424px) {
    .div-temperature {
        display: flex;
        height: 60%;
        margin-top: -32%;
    }
    .div-img-temp {
        width: 100%;
        margin-left: -5%;
        
    }
    .div-city {
        margin-top: 0%;
        margin-left: 24%;
        font-size: 1.5rem;
        width: 35vh;
        margin-right: 2%;
    }
}

@media(max-width: 374px) {
    .div-temperature {
        margin-top: -40%;
        display: flex;
    }
    .div-img-temp {
        width: 0vh
        
    }

    .div-city {
        margin-right: 8%;
        margin-top: 1%;
    }
    
    .div-temp {
        font-size: 1.7rem;
        margin-left: 5%;
    } 
}